<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Register</title>
</head>
<body>
    <h2>Register</h2>
    <form th:action="@{/register}" th:object="${user}" method="post">
        <div>
            <label>Username: <input type="text" th:field="*{username}"/></label>
        </div>
        <div>
            <label>Email: <input type="email" th:field="*{email}"/></label>
        </div>
        <div>
            <label>Password: <input type="password" th:field="*{password}"/></label>
        </div>
        <div>
            <input type="submit" value="Register"/>
        </div>
    </form>
    <a th:href="@{/login}">Login</a>
</body>
</html>